.layout-main {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  overflow: scroll;
  height: calc(100vh - 56px);
  /* height: 90vh; */
  background-color: rgba(187, 213, 235, 0.8);
}
